* {
    margin: 0; padding: 0;
}

:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

html {
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
    body {
    }
        .Container {
            margin: 0 20px 0 20px;
        }
            header {
                display: flex;
                justify-content: space-between;
                padding: 25px;
                margin-bottom: 25px;
            }   
                .Logo {
                    display: flex;
                    place-items: center;
                    margin-left: 140px;
                }
                .Logo:hover {
                    animation: fa-beat 1.75s ease infinite;
                }
                .transition {
                    position: relative;
                    display: flex;
                    place-items: center;
                    animation: myTransition 5s infinite;
                    animation-timing-function: linear;
                    color: #fff;
                }
                @keyframes myTransition {
                    0% {left: -25vw;}
                    100%  {left: 25vw;}
                }
                .Cv {
                    width: 150px;
                    height: 40px;
                    color: white;
                    display: flex;
                    justify-content: space-around;
                    place-items: center;
                    padding: 0 20px 0 20px;
                    background: hsl(0 0% 100% / 0.1);
                    border-radius: 7.25px;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
                .Cv:hover {
                    cursor: pointer;
                    background-image: var(--gradient);
                    background-size: 300%;
                    background-position: right;
                    transition: background-position 1.5s;
                }
            .Nvb-Main-Container {
                display: flex;
                justify-content: left;
                padding: 0 50px 0 75px;
            }
                .Navbar {
                    display: grid;
                    place-content: center;
                }
                    .NavbarMenu {
                        width: 170px;
                        height: 350px;
                        list-style: none;
                        padding: 25px;
                        background: hsl(0 0% 100% / 0.1);
                        border-radius: 7.25px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                        .NavbarItem {
                            margin: 0 0 1.5em 0;
                        }
                        .NavbarItem > a {
                            font-family: Arial, Helvetica, sans-serif;
                            text-transform: uppercase;
                            color: #fff;
                            letter-spacing: 2px;
                            text-decoration: none;
                        }
                        .NavbarItem > a:hover {
                            background-image: var(--gradient);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 125%;
                            background-position: right;
                        }
                        .NavbarItem > a > span {
                            font-weight: 700;
                            margin-inline-end: 0.75em;
                        }
                main {
                    display: flex;
                    width: 100vw;
                    justify-content: space-between;
                }
                    .MainFocus {
                        width: 100%;
                        display: flex;
                        place-items: center;
                        justify-content: space-around;
                    }
                        .SignUpHeader {
                            height: 100%;
                            margin-top: -15px;
                            font-size: 3rem;
                            background-image: var(--gradient);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 175%;
                            background-position: right;
                        }
                        .SignUpText {
                            margin-bottom: -250px;
                            margin-left: -20px;
                            font-size: 2rem;
                            background-image: var(--gradient);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 275%;
                            background-position: right;
                        }
                        .SignUpForm {
                            margin-left: -20px;
                            display: grid;
                            place-content: center;
                            width: 170px;
                            height: 310px;
                            list-style: none;
                            padding: 25px;
                            background: hsl(0 0% 100% / 0.1);
                            border-radius: 7.25px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            letter-spacing: 0.2px;
                        }
                            .FormControl {
                                position: relative;
                            }
                            .FormControl > label {
                                display: inline-block;
                                margin-bottom: 1px;
                            }
                            .FormControl > input {
                                margin-bottom: 10px;
                                border: none;
                                opacity: 65%;
                                height: 20px;
                                border-radius: 1.25px;
                                padding-left: 4px;
                            }
                            .FormControl.success > input {
                                border: 2px solid #2ecc71;
                            }
                            .FormControl.error > input {
                                border: 2px solid #e74c3c;
                            }
                            .FormControl > i {
                                visibility: hidden;
                                position: absolute;
                                bottom: 14px;
                                right: 10px;
                            }
                            .FormControl.success i.fa-solid.fa-circle-check {
                                color: #2ecc71;
                                visibility: visible;
                            }
                            .FormControl.error i.fa-solid.fa-circle-exclamation {
                                color: #e74c3c;
                                visibility: visible;
                            }
                            .FormControl > small {
                                visibility: hidden;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                            .FormControl.error > small {
                                color: #e74c3c;
                                visibility: visible;
                                font-size: 10px;
                                background-image: var(--gradient);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-size: 275%;
                                background-position: right;
                                letter-spacing: 1px;
                            }
                    .Asidebar {
                        display: grid;
                        place-content: center;
                    }
                        .AsidebarMenu {
                            list-style: none;
                        }
                            .AsidebarItem {
                                margin: 0 0 1.5em 0;
                                text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
                            }
            footer {
                color: #fff;
                position: absolute;
                bottom: 0;
                width: 94%;
                height:60px;
                display: flex;
                justify-content: center;
                place-items: center;
            }   
                /*Nu imi place cum e pozitionat butonul*/
                .PolicyContainer {
                    position: absolute;
                    margin-left: 85vw;
                    margin-bottom: 25px;
                }
                    .PolicyText {
                        text-decoration: none;
                        color: #fff;
                    }

@media screen and ( min-height: 650px) {
    header {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    footer {
        /* margin-bottom: 40px; */
    }
    .line {
        margin: -173.3px 0 0 345px;
    }
}
@media screen and ( min-height: 700px) {
    header {
        margin-bottom: 55px;
    }
    footer {
        margin-bottom: 40px;
    }
}

/* @media screen and ( max-width: 600px ) {
    main {
        display: block;
        width: 100vw;
        justify-content: space-between;
    }
    .AsidebarMenu {
        display: flex;
        gap: 1em;
    }
    .Navbar {
        height: 300px;
    }