@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}

html {
    background-color: #845ec2;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.Container {
    display: grid;
    place-content: center;
}
    header {
        font-size: 3rem;
        font-weight: bold;
        display: grid;
        place-content: center;
        margin: 25% 0 15% 0;
    }
        .liveSearchBox {
            width: 100%;
            display: block;
            padding: 1em;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 7.25px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
                .LiveSearchList {
                    display: grid;
                    place-items: center;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    padding: 1em;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    font-family: 'Lato', sans-serif;
                    color: #fff;

                    background: hsl(0 0% 100% / 0.1);
                    border-radius: 7.25px;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                        .LiveSearchList li {
                            color: fff;
                            list-style: none;
                            padding: 0;
                            margin: 5px 0;
                            }
